# dependencies (bun install)
node_modules
bun.lock

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
*.tsbuildinfo
db/*.db3

# output
out/
samples/
out.tar.gz
